body{
    height: 97.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #393f4d;
    color: aliceblue;
    background: linear-gradient(50deg, #003554, #032030);
}
input{
    color: rgb(2, 4, 87);
    background-color: ghostwhite;
    width: 280px;
    border-radius: 4px;
    text-shadow: 0px 0px 2px maroon;
    padding: 2px 10px;
    font-size: 1.5rem;
    border: 2px solid rgb(4, 138, 127);
    box-shadow: 0px 0px 5px rgb(198, 255, 64),
                0px 0px 7px yellow;
    outline: none;
    display: flex;
    margin-top: 10px;
}
button{
    margin: 20px 0px 12px 0px;
    border: 2px solid maroon;
    border-radius: 1rem;
    background-color: rgb(1, 68, 99);
    width: 50px;
    height: 50px;
    color: aqua;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(27, 253, 27),
                0px 0px 10px rgb(0, 252, 105);
    cursor: pointer;
}
.sub, .multi, .divi{
    margin: 20px 5px 12px 5px;
}
.add{
    margin: 20px 5px 12px 0px;
}
.modu{
    margin: 20px 0px 12px 5px;
}
.heading h1{
    text-shadow: 0px 0px 5px green,
                0px 0px 8px greenyellow;
}
.finalans p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 5px green,
                0px 0px 8px greenyellow;
}
.reset{
    background: #000;
    width: 280px;
    padding: 5px 0px 5px 0px;
    font-size: medium;
    height: fit-content;
    margin-top: -10px;
    color: snow;
}